@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ==================== Basic Styling =================== */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  transition: all 0.3s;
}
.btn__more {
  color: #fff;
  font-size: 2rem;
}
.btn__read {
  color: #000;
  font-size: 1.4rem;
}

.icon__right {
  color: #fff;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: rgb(250, 249, 247);
}

/*======================= Header starts here ==========================*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  background-color: hsl(220, 100%, 99%);
  z-index: 100;
}

/*=============== NAV ===============*/
.nav {
  height: 6rem;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  color: hsl(220, 48%, 28%);
  font-weight: 600;
  transition: color 0.3s;
}
.nav__logo--img {
  height: 4rem;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: rgb(254, 0, 0);
}

.nav__toggle {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
}

.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.8rem;
  color: hsl(220, 48%, 28%);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: hsl(220, 100%, 99%);
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
}
.nav__link {
  color: hsl(220, 48%, 28%);
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  font-size: 1.4rem;
}

.nav__link:hover {
  background-color: hsl(220, 68%, 97%);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: hsl(220, 68%, 97%);
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content {
  row-gap: 1.75rem;
}

.dropdown__group {
  padding-left: 2.5rem;
  row-gap: 0.5rem;
}

.dropdown__group:first-child {
  margin-top: 1.25rem;
}

.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}

.dropdown__icon i {
  font-size: 2rem;
  color: rgb(254, 0, 0);
}

.dropdown__title {
  font-size: 1.35rem;
  font-weight: 600;
  color: hsl(220, 48%, 28%);
}

.dropdown__list {
  row-gap: 0.25rem;
}

.dropdown__link {
  font-size: 1.3rem;
  font-weight: 500;
  color: hsl(220, 12%, 45%);
  transition: color 0.3s;
}

.dropdown__link:hover {
  color: hsl(220, 48%, 28%);
}

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav {
    height: 6rem;
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    height: 100%;
  }
  .nav li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: hsl(220, 100%, 99%);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    max-width: 112rem;
    margin-inline: auto;
  }
  .dropdown__group {
    padding: 4rem 0;
    align-content: baseline;
    row-gap: 1.25rem;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 6rem;
    height: 6rem;
    background-color: hsl(220, 68%, 97%);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 1rem;
  }
  .dropdown__icon i {
    font-size: 2rem;
  }
  .dropdown__title {
    font-size: 1.2rem;
  }
  .dropdown__link {
    font-size: 1.1rem;
  }
  .dropdown__link:hover {
    color: rgb(254, 0, 0);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
}
/*======================= Header Ends here ==========================*/
/*======================= Section Hero starts ==========================*/
.row {
  padding: 0 5vw;
}

.hero__heading {
  font-size: 10rem;
  color: #fff;
  letter-spacing: 0.4rem;
  transform: translateY(10rem);
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .hero__heading {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 768px) {
  .hero__heading {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 475px) {
  .hero__heading {
    font-size: 4rem;
  }
}
.hero__heading--span {
  display: block;
  transform: translate(1.5rem, -5rem);
}
@media only screen and (max-width: 768px) {
  .hero__heading--span {
    transform: translate(1.5rem, -3rem);
  }
}
@media only screen and (max-width: 475px) {
  .hero__heading--span {
    transform: translate(1.5rem, -2rem);
  }
}
.hero__button {
  margin-left: 2vw;
}
.hero__content {
  position: absolute;
  display: flex;
  left: 2vw;
  bottom: 10vh;
  flex-direction: column;
}
.hero__img {
  height: 100vh;
}

.button__flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.button__flex--icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgb(223, 221, 218);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.button__flex--icon:hover {
  cursor: pointer;
  background-color: rgb(254, 0, 0);
  transition: all 0.3s;
}
.button__flex--icon-icon {
  font-size: 1.8rem;
  color: #000;
  transition: all 0.3s;
  color: rgb(254, 0, 0);
}
.button__flex--icon-icon-appeal {
  font-size: 3rem;
}
.button__flex--icon-appeal {
  width: 10rem;
  height: 10rem;
}
.button__flex--content {
  color: #fff;
  font-size: 2rem;
}

.button__flex:hover .button__flex--icon {
  background-color: rgb(254, 0, 0);
}

.button__flex:hover .button__flex--icon-icon {
  color: #fff;
}

.button__flex--icon:hover .button__flex--icon-icon {
  color: #fff;
}

.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-wrapper1 {
  height: 100vh;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/*======================= Section Hero Ends==========================*/
/*======================= Section Counter starts ==========================*/
.count {
  padding: 5rem 0;
  border-bottom: 1px solid rgb(223, 221, 218);
}
.count__counter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  align-items: center;
  padding: 2rem 0;
}
@media only screen and (max-width: 1200px) {
  .count__counter {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
@media only screen and (max-width: 900px) {
  .count__counter {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
.count__counter--item {
  text-align: center;
}
.count__counter--heading {
  font-size: 4rem;
  color: #000;
}
.count__counter--para {
  font-size: 1.6rem;
}

/*======================= Section Counter Ends ==========================*/
/*======================= Section Challenges Starts ==========================*/
.challenges {
  padding: 5rem 0;
  border-bottom: 1px solid rgb(223, 221, 218);
}
.challenges__content {
  display: flex;
  align-items: center;
  padding: 0 0 5rem 0;
}
@media only screen and (max-width: 600px) {
  .challenges__content {
    flex-direction: column;
  }
}
.challenges__heading {
  flex: 50%;
  font-size: 4rem;
  font-weight: 500;
}
.challenges__para {
  flex: 50%;
  font-size: 1.6rem;
}

.swiper2 {
  width: 100%;
  height: 48rem;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.gallery__photo {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__photo--img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.gallery__photo--img:hover {
  transition: all 0.3s;
  transform: scale(1.04);
}
.gallery__heading {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 2rem 0;
}
.gallery__para {
  margin-bottom: 2rem;
}
.gallery__para--text {
  font-size: 1.4rem;
}

/*======================= Section Challenges Ends ==========================*/
/*======================= Section Khan starts ==========================*/
.khan {
  padding: 5rem 0;
}
.khan__content {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .khan__content {
    flex-direction: column;
  }
}
.khan__textbox {
  flex: 50%;
}
.khan__textbox--heading-text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}
.khan__textbox--points {
  margin-top: 6rem;
}
.khan__textbox--points > *:not(:last-child) {
  margin-bottom: 2rem;
}
.khan__textbox--points-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.khan__textbox--points-item-icon {
  font-size: 1.6rem;
  transform: translateY(0.3rem);
}
.khan__textbox--points-item-text {
  font-size: 1.6rem;
}
.khan__photo {
  flex: 50%;
}
@media only screen and (max-width: 900px) {
  .khan__photo {
    margin-top: 2rem;
  }
}
.khan__photo--heading {
  padding: 3rem 0;
}
.khan__photo--heading-text {
  text-transform: uppercase;
  font-size: 2rem;
}
.khan__photo--para-text {
  font-size: 1.6rem;
}

/*======================= Section Khan Ends ==========================*/
/*======================= Section Support Starts ==========================*/
.support {
  padding: 5rem 0;
}
.support__heading--text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.support__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
@media only screen and (max-width: 1500px) {
  .support__cards {
    gap: 3rem;
  }
}
@media only screen and (max-width: 1235px) {
  .support__cards {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
@media only screen and (max-width: 1000px) {
  .support__cards {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
.support__cards--content {
  padding: 3rem 0 0 0;
  border-top: 1px solid rgb(223, 221, 218);
  transition: all 0.3s;
}
.support__cards--content:hover {
  border-top: 1px solid rgb(254, 0, 0);
}
.support__cards--content:hover .button__flex--icon {
  background-color: rgb(254, 0, 0);
}
.support__cards--content:hover .button__flex--icon-icon {
  color: #fff;
}
.support__cards--heading {
  margin-bottom: 2rem;
}
.support__cards--heading-text {
  font-size: 2rem;
}
.support__cards--para {
  margin-bottom: 4rem;
}
.support__cards--para-text {
  font-size: 1.4rem;
}
/*======================= Section SUpport Ends ==========================*/
/*======================= Section News Starts  ==========================*/
.news {
  padding: 5rem 0;
}
.news__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.news__heading--text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

/*======================= Section News Ends ==========================*/
/*======================= Section History Starts ==========================*/
.history {
  padding: 5rem 0;
  border-top: 1px solid rgb(223, 221, 218);
}
.history__content {
  display: flex;
  align-items: center;
}
.history__heading {
  flex: 50%;
}
@media only screen and (min-width: 1290px) {
  .history__heading {
    padding-right: 10vw;
  }
}
.history__heading--text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}
.history__para {
  flex: 50%;
}
.history__para--text {
  font-size: 1.6rem;
}

/*======================= Section History Ends ==========================*/
/*======================= Section Appeal Starts ==========================*/
.appeal {
  padding: 5rem 0;
  border-top: 1px solid rgb(223, 221, 218);
}
.appeal__content {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .appeal__content {
    flex-direction: column;
  }
}
.appeal__content--textbox {
  flex: 50%;
  display: flex;
  align-items: center;
}
.appeal__content--text {
  flex: 70%;
}
.appeal__content--text-heading-text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}
.appeal__content--text-para {
  margin-top: 2rem;
}
.appeal__content--text-para-text {
  font-size: 1.6rem;
}
.appeal__content--photo {
  flex: 30%;
}
.appeal__content--icon {
  flex: 50%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .appeal__content--icon {
    display: none;
  }
}

/*======================= Section Appeal Ends ==========================*/
/*======================= Footer Starts  ==========================*/
.grid {
  display: grid;
  gap: 1.5rem;
}

.footer {
  padding: 5rem 0;
  background-color: #000;
  color: #fff;
}
.footer__container {
  row-gap: 5rem;
}
.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  row-gap: 2rem;
}
.footer__title, .footer__subtitle {
  font-size: 2rem;
}
.footer__title {
  margin-bottom: var(--mb-0-5);
  margin-right: 2rem;
}
.footer__description {
  margin-bottom: var(--mb-2);
  font-size: 1.3rem;
}
.footer__social {
  font-size: 2rem;
  color: hsl(220, 48%, 28%);
  margin-right: var(--mb-1-25);
}
.footer__social:hover {
  color: rgb(254, 0, 0);
}
.footer__subtitle {
  margin-bottom: var(--mb-1);
}
.footer__item {
  margin-bottom: var(--mb-0-75);
}
.footer__link {
  color: #fff;
  font-size: 1.3rem;
}
.footer__link:hover {
  color: rgb(254, 0, 0);
}
.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid rgb(223, 221, 218);
}
@media screen and (min-width: 768px) {
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 600px) {
  .footer__rights {
    text-align: left;
  }
}
.footer__copy, .footer__terms-link {
  font-size: 1.2rem;
  color: #fff;
}
.footer__terms {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-content: center;
}
.footer__terms-link:hover {
  color: rgb(254, 0, 0);
}
@media only screen and (max-width: 600px) {
  .footer__terms {
    justify-content: flex-start;
  }
}

.footer__logo--img {
  height: 8rem;
}

/*======================= Footer Ends ==========================*//*# sourceMappingURL=style.css.map */